In [1]:
import pandas as pd
import numpy as np
import os
import locale
locale.setlocale( locale.LC_ALL, '' )

'English_United States.1252'

### 1. Read raw data

In [2]:
folder = "C:\\Users\\yjin9\\Documents\\python-scripts\\data_incubator\\data_scraping_cleaning\\" 

styles=pd.read_csv(os.path.join(folder,"styles_summary.csv"), encoding="utf-8")
ids=styles["id"]

beers=pd.read_csv(os.path.join(folder,"top_rated\\","beer_summary.csv"),encoding="utf-8")
beers["beer_ids"]=beers["beer_ids"].apply(lambda x: str(x))
selected_beers=beers["beer_ids"].tolist()

companys=pd.read_csv(os.path.join(folder,"company.csv"), encoding="utf-8")

In [4]:
beer_df_comb=pd.DataFrame({"beer_ids":[],"abvs":[],"beer_names":[],"company_ids":[],"ratings":[],"scores":[],"style_ids":[]})

for style_id in range(len(ids)):
    style_name = "style_"+str(ids[style_id])+".csv"
    df=pd.read_csv(os.path.join(folder,style_name), encoding="utf-8")
    df=df[df.beer_ids.isin(selected_beers)][["beer_ids","abvs","beer_names","company_ids","ratings","scores"]]
    df["style_ids"]=ids[style_id]
    beer_df_comb=beer_df_comb.append(df)

### 2. Combine selected beer

In [5]:
beer_df_comb["beer_ids"]=beer_df_comb["beer_ids"].apply(lambda x:str(int(x)))
beer_df_comb["style_ids"]=beer_df_comb["style_ids"].apply(lambda x:int(x))
beer_df_comb["company_ids"]=beer_df_comb["company_ids"].apply(lambda x:int(x))

In [6]:
beer_df_comb=beer_df_comb.set_index("beer_ids").join(beers.set_index("beer_ids"))[["beer_names","abvs","company_ids","style_ids","ratings","scores","availabilities","bro_scores","reviews_nums"]]

In [7]:
beer_df_comb=beer_df_comb.reset_index().set_index("style_ids").join(styles.set_index("id")[["style_name","sub_cat","cat"]]).set_index("beer_ids")

In [8]:
beer_df_comb["abvs"]=beer_df_comb["abvs"].apply(lambda x:float(x))
beer_df_comb["ratings"]=beer_df_comb["ratings"].apply(lambda x:locale.atoi(x))
beer_df_comb["reviews_nums"]=beer_df_comb["reviews_nums"].apply(lambda x:locale.atoi(x))

In [9]:
beer_df_comb.head()

,beer_names,abvs,company_ids,ratings,scores,availabilities,bro_scores,reviews_nums,style_name,sub_cat,cat
beer_ids,,,,,,,,,,,
1963,Spotted Cow,4.8,590,3645,3.75,Year-round,0.00,831,Cream Ale,American Ales,Ale
23506,Summer Solstice,5.0,193,1594,3.67,Summer,3.79,495,Cream Ale,American Ales,Ale
1376,Genesee Cream Ale,5.1,302,1404,3.04,Year-round,3.04,565,Cream Ale,American Ales,Ale
169625,Calm Before The Storm,5.5,199,1185,3.87,Rotating,0.00,274,Cream Ale,American Ales,Ale
727,Aecht Schlenkerla Rauchbier Märzen,5.4,263,2373,4.06,NaN,4.35,1151,Rauchbier,German Lagers,Lager

### 3. Summarize by company

In [10]:
selected_companys=beer_df_comb["company_ids"].unique()

In [11]:
company_df_comb=companys[companys["company_ids"].isin(selected_companys)]
company_df_comb=company_df_comb.set_index("company_ids")[["company_names","ba_levels","ba_scores","location1s","location2s","total_ratings","total_reviews"]]

In [12]:
company_df_comb["total_ratings"]=company_df_comb["total_ratings"].apply(lambda x:locale.atoi(x))
company_df_comb["total_reviews"]=company_df_comb["total_reviews"].apply(lambda x:locale.atoi(x))

In [13]:
cnt_by_comp=beer_df_comb.groupby("company_ids").agg("count")[["beer_names"]]
cnt_by_comp.columns=["n_selected_beers"]
company_df_comb=company_df_comb.join(cnt_by_comp)

In [14]:
company_df_comb["location2s"]=company_df_comb["location2s"].apply(lambda x:str(x).strip())

In [15]:
def location_clean(x):
    if x in ["GB6","GB2","London","Suffolk","East Lothian"]:
        return "UK"
    if x in ['Australia','Czech Republic','Belgium','Germany', 'Mexico', 'Netherlands',  'France','Ireland', 
             'Japan', 'Austria','Jamaica','Sri Lanka', 'Denmark', 'Singapore','Brazil', 'Switzerland','Italy']:
        return x
    if x in [ 'BC', 'MS', 'FL', 'KS', 'IA', 'SC', 'DC', 'VA', 'NJ', 'OK', 'LA', 'ME', 'OR', 'QC', 'IN', 'CA', 'MO','CO', 'MA','NY',
            'DE', 'MD','OH', 'VT', 'WI', 'KY', 'ON', 'MN', 'HI', 'IL', 'WA',  'NB', 'AK', 'MT', 'NC', 'UT', 'NM','CT','PA', 'RI', 
             'GA','MI', 'NH', 'TX']:
        return "USA - "+x
    if x=='Qingdao':
        return "China"
    if x=='Tokyo-to Tokyo-shi':
        return "Japan"
    if x== 'Bangkok':
        return "Thailand"
    return "N/A"

In [16]:
company_df_comb["region"]=company_df_comb["location2s"].apply(location_clean)

In [17]:
company_df_comb.head()

,company_names,ba_levels,ba_scores,location1s,location2s,total_ratings,total_reviews,n_selected_beers,region
company_ids,,,,,,,,,
1,Plzeňský Prazdroj,Good,3.69,Plzeň,Czech Republic,4338,1644,1,Czech Republic
3,Abita Brewing Co.,Good,3.66,Abita Springs,LA,21876,6476,7,USA - LA
4,Allagash Brewing Company,Exceptional,4.12,Portland,ME,36512,9743,8,USA - ME
8,Widmer Brothers Brewing Company,Good,3.61,Portland,OR,14128,4483,1,USA - OR
22,Unibroue,Good,3.74,Chambly,QC,36019,14546,8,USA - QC

### 4. Exploratory Data Analysis

In [330]:
top_styles=beer_df_comb.groupby("style_name").agg("count").sort_values(by="beer_names",ascending=False).head(15)[["beer_names"]]
top_styles=top_styles.join(styles.set_index("style_name")["sub_cat"]).reset_index()

In [331]:
availables=beer_df_comb.groupby("availabilities").agg("count").sort_values(by="beer_names",ascending=False)["beer_names"].reset_index()

In [332]:
top_regions=company_df_comb.groupby("region").agg("sum").sort_values(by="n_selected_beers",ascending=False).head(10)["n_selected_beers"].reset_index()

In [291]:
company_df_comb.groupby("ba_levels").agg("count")["company_names"]

ba_levels
Exceptional     52
Good            67
Okay            27
Outstanding      7
Poor            28
Very Good      134
Name: company_names, dtype: int64

### 5. Plotting with Bokeh

In [315]:
from bokeh.layouts import gridplot
from bokeh.plotting import figure, show, output_file
from bokeh.models import ColumnDataSource

In [313]:
p1 = figure(title="Histogram of # of Ratings Received",tools="save",
            background_fill_color="#E8DDCB")

hist, edges = np.histogram(beer_df_comb["ratings"], density=False, bins=16)

p1.quad(top=hist, bottom=0, left=edges[:-1], right=edges[1:],
        fill_color="#036564", line_color="#033649")

p1.legend.location = "center_right"
p1.legend.background_fill_color = "darkgrey"
p1.xaxis.axis_label = 'Ratings Received'
p1.yaxis.axis_label = '# of Beers'

html = file_html(p1, CDN, "my plot")

#output_file('num_ratings_hist.html', title="histogram.py example")
#show(p1)

In [310]:
p2 = figure(title="Histogram of BA scores",tools="save",
            background_fill_color="#E8DDCB")

hist, edges = np.histogram(beer_df_comb["scores"], density=False, bins=16)

p2.quad(top=hist, bottom=0, left=edges[:-1], right=edges[1:],
        fill_color="#036564", line_color="#033649")

p2.legend.location = "center_right"
p2.legend.background_fill_color = "darkgrey"
p2.xaxis.axis_label = 'Scores'
p2.yaxis.axis_label = '# of Beers'

#output_file('scores_hist.html', title="histogram.py example")
#show(p2)

In [311]:
p3 = figure(title="Histogram of Alcohol Volume %",tools="save",
            background_fill_color="#E8DDCB")

hist, edges = np.histogram(beer_df_comb["abvs"], density=False, bins=16)

p3.quad(top=hist, bottom=0, left=edges[:-1], right=edges[1:],
        fill_color="#036564", line_color="#033649")

p3.legend.location = "center_right"
p3.legend.background_fill_color = "darkgrey"
p3.xaxis.axis_label = 'Alc %'
p3.yaxis.axis_label = '# of Beers'

#output_file('abv_hist.html', title="histogram.py example")
#show(p3)

In [342]:
output_file("bar_colormapped.html")

regions = top_regions["region"].tolist()
counts = top_regions["n_selected_beers"].tolist()

source = ColumnDataSource(data=dict(regions=regions, counts=counts))

p4 = figure(x_range=regions, plot_height=350, toolbar_location=None, title="Beer Counts")
p4.vbar(x='regions', top='counts', width=0.9, source=source, legend="regions",
       line_color='white', fill_color="#036564")

p4.xgrid.grid_line_color = None
p4.y_range.start = 0
p4.y_range.end = max(counts)
p4.legend.orientation = "horizontal"
p4.legend.location = "top_center"

#output_file('top_region.html', title="histogram.py example")
#show(p4)